<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}
    <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
